
#button-row {
    text-align: center;
    margin-bottom: 20px;
}
#wrapper {
    text-align: center;
}
#container {
    display: inline-block;
    border: 5px solid #888;
}
#container.active {
    border-color: #ffbb00;
}
#container.exploded {
    border-color: #f00;
}
#container.demined {
    border-color: #0c0;
}

.row {
	display: flex;
}

.cell {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #aaa;
    background: #ccc;
}
.cell.has-mines-near,
.cell.clear {
    background: #fff;
}
.cell.has-1-mine {
}

.cell.flagged {
    background: #c00;
}
.cell.mine {
    font-weight: bold;
}
.cell.mine:after {
    content: 'X';
}
